// ==== #ALIGNMENT ==== //
// sass-lint:disable class-name-format
// Left-aligns row, top-aligns col
.justifyStart { justify-content: flex-start; } //
// Horizontally centers row, vertically centers col
.justifyCenter { justify-content: center; }
// Right-aligns row, bottom-aligns col
.justifyEnd { justify-content: flex-end; }
// Horizontally spaces around row, vertically spaces around col
.justifyAround { justify-content: space-around; }
// Horizontally spaces between row, vertically spaces between col
.justifyBetween { justify-content: space-between; }

// Top-aligns row, left-aligns col
.alignStart { align-items: flex-start; }
// Vertically centers row, horizontally centers col
.alignCenter { align-items: center; }
// Bottom-aligns row, right-aligns col
.alignEnd { align-items: flex-end; }
