@import './mixins/_grid';
@import './mixins/_media';
@import './defaults/_breakpoints';

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-container-width;
  padding-left: $grid-edge-gutter-width - ($grid-gutter-width-sm / 2);
  padding-right: $grid-edge-gutter-width - ($grid-gutter-width-sm / 2);

  @include above($breakpoint-sm) {
    padding-left: $grid-edge-gutter-width - ($grid-gutter-width-md / 2);
    padding-right: $grid-edge-gutter-width - ($grid-gutter-width-md / 2);
  }

  @include above($breakpoint-md) {
    padding-left: $grid-edge-gutter-width - ($grid-gutter-width-lg / 2);
    padding-right: $grid-edge-gutter-width - ($grid-gutter-width-lg / 2);
  }

  @include above($breakpoint-lg) {
    padding-left: 0;
    padding-right: 0;
  }

  &.gridless {
    padding-left: $grid-edge-gutter-width;
    padding-right: $grid-edge-gutter-width;

    @include above($breakpoint-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  @include above($breakpoint-lg) {
    margin-left: -($grid-gutter-width-xl / 2);
    margin-right: -($grid-gutter-width-xl / 2);
  }
}

%col {
  flex: 0 0 auto;
  padding-left: $grid-gutter-width-sm / 2;
  padding-right: $grid-gutter-width-sm / 2;

  @include above($breakpoint-sm) {
    padding-left: $grid-gutter-width-md / 2;
    padding-right: $grid-gutter-width-md / 2;
  }

  @include above($breakpoint-md) {
    padding-left: $grid-gutter-width-lg / 2;
    padding-right: $grid-gutter-width-lg / 2;
  }

  @include above($breakpoint-lg) {
    padding-left: $grid-gutter-width-xl / 2;
    padding-right: $grid-gutter-width-xl / 2;
  }
}

@include grid-columns
@include above($breakpoint-sm) { @include grid-columns(md) }
@include above($breakpoint-md) { @include grid-columns(lg) }
@include above($breakpoint-lg) { @include grid-columns(xl) }
