// sass-lint:disable class-name-format no-extends
@mixin grid-columns($breakpoint-label: null) {
  $col-label: col;
  @if $breakpoint-label {
    $col-label: col-#{$breakpoint-label};
  }

  @for $i from 1 through $grid-columns {
    $col-percent: ( $i / $grid-columns ) * 100%;

    .#{$col-label}-#{$i} {
      flex-basis: $col-percent;
      max-width: $col-percent;

      // Extends the universal column properties to non-media-query .col selectors
      @if ($breakpoint-label == null) {
        @extend %col;
      }
    }
  }

  // Auto-sized columns
  .#{$col-label} {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    // width: 100% // likely unneeded

    // Extends the universal column properties to non-media-query .col selectors
    @if ($breakpoint-label == null) {
      @extend %col;
    }
  }

  @for $i from 0 through ($grid-columns - 1) {
    $col-percent: zero-safe(( $i / $grid-columns ) * 100%);

    .#{$col-label}-offset-#{$i} {
      margin-left: $col-percent;
    }
  }
}
